# gitignore template for Drupal 8 projects
#
# earlier versions of Drupal are tracked in `community/PHP/`
_sql
.sql
# Ignore configuration files that may contain sensitive information
/sites/*/*settings*.php
/sites/*/*services*.yml
/sites/development.services.yml
/sites/default/settings.local.php
/sites/default/settings.php
# Ignore paths that may contain user-generated content
/sites/*/files
/sites/*/public
/sites/*/private
/sites/*/files-public
/sites/*/files-private

# Ignore paths that may contain temporary files
/sites/*/translations
/sites/*/tmp
/sites/*/cache

# Ignore testing related files
/sites/simpletest

# Ignore drupal core (if not versioning drupal sources)
#/core
#/modules
#/vendor
#/.csslintrc
#/.editorconfig
#/.eslintignore
#/.eslintrc.json
#/.gitattributes
/.htaccess
#/autoload.php
#/composer.lock
#/index.php
#/robots.txt
#/update.php
#/web.config
/example.gitignore
/profiles/README.txt
/sites/README.txt
/sites/example.sites.php
/sites/example.settings.local.php
/themes/README.txt
/LICENSE.txt
/README.txt

# Ignore OS garbage
.DS_Store

# Created by https://www.gitignore.io/api/phpstorm

### PhpStorm ###
# Covers JetBrains IDEs: IntelliJ, RubyMine, PhpStorm, AppCode, PyCharm, CLion, Android Studio and Webstorm
# Reference: https://intellij-support.jetbrains.com/hc/en-us/articles/206544839

# User-specific stuff:
.idea
.idea/**/workspace.xml
.idea/**/tasks.xml
.idea/dictionaries

# Sensitive or high-churn files:
.idea/**/dataSources/
.idea/**/dataSources.ids
.idea/**/dataSources.xml
.idea/**/dataSources.local.xml
.idea/**/sqlDataSources.xml
.idea/**/dynamic.xml
.idea/**/uiDesigner.xml

# Gradle:
.idea/**/gradle.xml
.idea/**/libraries

# CMake
cmake-build-debug/

# Mongo Explorer plugin:
.idea/**/mongoSettings.xml

## File-based project format:
*.iws

## Plugin-specific files:

# IntelliJ
/out/

# mpeltonen/sbt-idea plugin
.idea_modules/

# JIRA plugin
atlassian-ide-plugin.xml

# Cursive Clojure plugin
.idea/replstate.xml

# Ruby plugin and RubyMine
/.rakeTasks

# Crashlytics plugin (for Android Studio and IntelliJ)
com_crashlytics_export_strings.xml
crashlytics.properties
crashlytics-build.properties
fabric.properties

### PhpStorm Patch ###
# Comment Reason: https://github.com/joeblau/gitignore.io/issues/186#issuecomment-215987721

# *.iml
# modules.xml
# .idea/misc.xml
# *.ipr
.idea/workspace.xml
/.idea/workspace.xml

# Sonarlint plugin
.idea/sonarlint
# End of https://www.gitignore.io/api/phpstorm

# Ignore binaries.
/bin

# Ignore local drush aliases
drush/local.aliases.drushrc.php

# Ignore directories generated Node.js
node_modules

# ignore local configuration files.
php.ini

# Ignore SimpleTest multi-site environment.
/sites/simpletest

#ignore logs
error_log
affiliate.mha.dd
